body {
    font-family: Arial, sans-serif;
    background-image: url(fundo.png);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p, h2, h3 {
    text-align: center;
    color: beige;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="text"],
select {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(33.33% - 10px);
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    margin: 20px 0;
}
